# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# prisma local db
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev/

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.log
